<p id="notice"><%= notice %></p>
<div class="text-center">
    <h2><%= @recipe.title %></h2>
    <%= image_tag @recipe.photo.url(:large) %>
  <p><%= @recipe.body %></p>
  <h4>
  	<% if user_signed_in? %>
	    <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
	    <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
    <%= link_to 'Back', recipes_path %>
  </h4>
</div>