<!DOCTYPE html>
<html>
<head>
  <title>RAZ kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="p:domain_verify" content="0952e981dba077c98208e36934a3fc1f"/>
</head>
<header>
	<div id="main-container" class="container">
		<div class="col header">
			<div class="text-center">
				<div class="logo-image">
	        <%= image_tag("/razkitchen_logo.jpg") %>
        </div>
				<%= render partial: "layouts/navbar" %>
			</div>
		</div>
	</div>
</header>
<body>
	<div id="main-container" class="container">
		<p class="notice"><%= notice %></p>
		<%= yield %>
	</div>
</body>
</html>
