<!DOCTYPE html>
<html>
<head>
  <title>iamfoodieveggie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<div id="main-container" class="container">
		<div class="col header">
			<div class="text-center">
				<%= render partial: "layouts/navbar" %>
          <h1>I Am Food Veggie</h1>
			</div>
		</div>
	</div>
</header>
<body>
	<div id="main-container" class="container">
		<p class="notice"><%= notice %></p>
		<%= yield %>
	</div>
</body>
</html>
