<!DOCTYPE html>
<html>
<head>
  <title>RAZ kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="p:domain_verify" content="0952e981dba077c98208e36934a3fc1f"/>
  <!-- Hotjar Tracking Code for www.razkitchen.com -->
	<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:357615,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>
<header>
	<div id="main-container" class="container">
		<div class="col header">
			<div class="text-center">
				<div class="logo-image">
	        <%= image_tag("/razkitchen_logo.jpg") %>
        </div>
				<%= render partial: "layouts/navbar" %>
			</div>
		</div>
	</div>
</header>
<body>
	<div id="main-container" class="container">
		<p class="notice"><%= notice %></p>
		<%= yield %>
	</div>
</body>
</html>
